.navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2em;
    background-color: lightgray;
    width: 500px;
    border-radius: 10px;
    margin: auto;
    margin-top: 50px;

    img {
        width: 200px;
    }

    .navigation-bar {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        padding: 0 1em;

        h2, h3 {
            margin: 0;
            font-family: 'Righteous', cursive;
        }
    }
}

.owner-list {
    margin: auto;
    padding: 3em;
    width: 1000px;
    font-family: sans-serif;

    h2 {
        text-align: center;  
    }

    &__content{
        .btns {
            display:flex;
            justify-content: space-between;
        }

        .form {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 1em 0;
            padding: 2em 0;
            background-color: #F0F0F0;
            border-radius: 10px;

            form {
                input {
                    height: 38px;
                    border: none;
                    border-bottom: 0.1px solid black;
                    margin: 0 0.5em;
                    background-color: transparent;
                }
            }
        }

        .owner-table {
            thead {
                tr {
                    th {
                        padding-left: 4.5em;
                    }
                }
            }

            tbody {
                tr {
                    th {
                        padding-left: 4.5em;
                    }
                }
            }
        }
    }
}


